<!-- Banner -->
<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
    [colspan]="4"
    [rowspan]="2" 
    [style.background]="'white'">
      <img src="./assets/bannerjpg_rec.jpg">
    </mat-grid-tile>
</mat-grid-list>

<h2 class="alinear">Módulo principal / Links QR</h2>
<h3 >Muestra el módulo principal con la lista de QRs</h3>

<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'white'">
    <img src="./assets/qr.jpg">
    <h3 class="alinear"> Registro paciente nuevo (Link QR)</h3>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'white'">
    <img src="./assets/qr.jpg">
    <h3 class="alinear"> Registro paciente</h3>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'white'">
    <img src="./assets/qr.jpg">
    <h3 class="alinear"> Asignar
      cita</h3>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'white'">
    <img src="./assets/qr.jpg">
    <h3 class="alinear">Seguimiento</h3>
  </mat-grid-tile>
</mat-grid-list> 

<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'white'">
    <img src="./assets/qr.jpg">
    <h3 class="alinear">Contenidos QR</h3>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'white'">
    <img src="./assets/qr.jpg">
    <h3 class="alinear"> Gestor de notificaciones</h3>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'white'">

  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'white'">

  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'white'">
    <img src="./assets/print.jpg">
  </mat-grid-tile>  
</mat-grid-list> 